@import './base.css';

#app {
  max-width: 1520px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}


.pokemon_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon_info_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon_info_card{
  width: 600px;
  height: 600px;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.pokemon_info_card h3{
  margin: 0;
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
}

.pokemon_info_card h3::first-letter{
  text-transform: uppercase;
}

.pokemon_info_card img{
  width: 300px;
  height: 300px;
  
}

.pokemon_card_container{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.pokemon_order{
  position: absolute;
  top: 0;
  margin-top: 16px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #ccc;
  background: #1d6cff;
  font-weight: 800;
}

.pokemon_info_card:hover{
  background-color: #cccccc1f;
}

.pokemon_card{
  width: 200px;
  height: 280px;
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pokemon_xp{
  font-size: 1.5rem;
  font-weight: 600;
}

.pokemon_type h5{
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  width: 100%;
}


.pokemon_type h5::first-letter{
  text-transform: uppercase;
}

.pokemon_card h3{
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

/* upper case pokemon name */
.pokemon_card h3::first-letter{
  text-transform: uppercase;
}

.pokemon_card img{
  width: 200px;
  height: 200px;
}

.pokemon_card:hover{
  background-color: #cccccc1f;
}

.buttons{
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  background: var(--color-background);
}

.buttons button{
  padding: 1rem;
  border: none;
  border-radius: 5px;
  margin: 0 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: bold;

}

.buttons button:hover{
  background-color: #1d6cff;
  color: #ccc;
}

.title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
} 